footer {
    background-color: var(--color-texto);
    color: var(--color-fondo);
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 2rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

footer a {
    color: var(--color-blanco);
}

footer a:hover {
    color: var(--color-secundario);
}